extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.container
		.row
			.col
				h1 {{message}}
		.row
			.col
				ul
					li(ng-repeat='item in data') {{item.name}}    {{item.color}}     {{item.image}}                  {{item.lists}}


